<ion-view view-title="Meal for one">
  <ion-content>
  	<div class="row">
  		<div class="col">
  			<h2 class="restaurant-big-name">Star Pizza</h2>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col" style="text-align: center">
  			☆☆☆☆☆
  		</div>
  	</div>
  	<!-- <div class="row">
  		<div class="col" style="text-align: center">
    		<h4>All day special</h4>
  		</div>
  	</div> -->
  	<div class="row">
  		<div class="col">
  			<center><p style="max-width: 500px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></center>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col" style="text-align: center">
			<button class="button button-energized">
				Buy Now!
			</button>
  		</div>
  	</div>
  		<div class=""></div>
  </ion-content>
</ion-view>
