<ion-view view-title="Meal for one">
  <ion-content>
  	<div class="row">
      <div class="col col-25">
        <img src="http://placehold.it/65x65">
      </div>
  		<div class="col">
        <div class="row">
  			 <h2 class="restaurant-big-name">Star Pizza</h2>
        </div>
        <div class="row">
  		    <div style="text-align: center">☆☆☆☆☆</div>
        </div>
      </div>
    </div>
  	<!-- <div class="row">
  		<div class="col" style="text-align: center">
    		<h4>All day special</h4>
  		</div>
  	</div> -->
<div class="card">
  <div class="item item-divider">
    <h2>Meal for one</h2>
    <p><b>Valid until:</b> 20/03/2016</p>
    <p><b>Price:</b> €5</p>
  </div>
  <div class="item item-text-wrap">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
    <a class="item item-icon-left energized" href="#">
      <i class="icon ion-android-cart"></i>
      Buy Now
    </a>
</div>
<div class="card">
  <div class="item item-divider">
    <h2>Meal for one</h2>
    <p><b>Valid until:</b> 20/03/2016</p>
    <p><b>Price:</b> €5</p>
  </div>
  <div class="item item-text-wrap">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
    <a class="item item-icon-left energized" href="#">
      <i class="icon ion-android-cart"></i>
      Buy Now
    </a>
</div>
  	
  	
  		<div class=""></div>
  </ion-content>
</ion-view>
