<ion-view view-title="Eat 4 Less" class="logo-header">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}" class="promo-row">
      	<div class="row">
	      	<div class="col">
	      		<div class="img"></div>
	      	</div>
	      	<div class="col-80 promo-content">
		        <p class="restaurant-name" style="">{{playlist.title}}</p>
		        <ul class="rating">
		        	<li>☆</li>
		        	<li>☆</li>
		        	<li>☆</li>
		        	<li>☆</li>
		        	<li>☆</li>
		        </ul>
		        <p class="promo-desc">Pizza, Chips, Can of Coke</p>
		        <p class="promo-price">5</p>
	      	</div>
      	</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>